<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resource/assets/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="../../resource/assets/vendor/fonts/circular-std/style.css" rel="stylesheet" type="text/css" th:href="@{/vendor/fonts/circular-std/style.css}" >
    <link rel="stylesheet" href="../../resource/assets/libs/css/style.css" th:href="@{/libs/css/style.css}">
    <link rel="stylesheet" href="../../resource/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" th:href="@{/vendor/fonts/fontawesome/css/fontawesome-all.css}">
    <link rel="stylesheet" href="../../resource/assets/vendor/charts/chartist-bundle/chartist.css" th:href="@{/vendor/charts/chartist-bundle/chartist.css}">
    <link rel="stylesheet" href="../../resource/assets/vendor/charts/morris-bundle/morris.css" th:href="@{/vendor/charts/morris-bundle/morris.css}">
    <link rel="stylesheet" href="../../resource/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" th:href="@{/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css}">
    <link rel="stylesheet" href="../../resource/assets/vendor/charts/c3charts/c3.css" th:href="@{/vendor/assets/vendor/charts/c3charts/c3.css}">
    <link rel="stylesheet" href="../../resource/assets/vendor/fonts/flag-icon-css/flag-icon.min.css" th:href="@{/vendor/fonts/flag-icon-css/flag-icon.min.css}">
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" th:href="home">News</a>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" th:href="home" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Home <span class="badge badge-success"></span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" th:href="add" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Add Headline <span class="badge badge-success"></span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">News Headline </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">Total</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1" th:text="${total}"> </h1>
                                        </div>
                                    </div>
                                    <div id="sparkline-revenue"></div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">Todays</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1" th:text="${today}"></h1>
                                        </div>
                                    </div>
                                    <div id="sparkline-revenue2"></div>
                                </div>
                            </div> 
                        </div>
                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Recent News</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th>
                                                        <th class="border-0">Title</th>
                                                        <th class="border-0">Link</th>
                                                        <th class="border-0">pubDate</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="n : ${news}">
                                                        <td><a th:text="${n.idx}" th:href="@{update(idx=${n.idx})}"></a></td>
                                                        <td th:text="${n.title}"></td>
                                                        <td><a th:text="${n.link}" th:href="${n.link}" target="_blank"></a></td>
                                                        <td th:text="${n.pubDate}"> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script th:src="|${vendor}/jquery/jquery-3.3.1.min.js|"></script>
    <!-- bootstap bundle js -->
    <script th:src="|${vendor}/bootstrap/js/bootstrap.bundle.js|"></script>
    <!-- slimscroll js -->
    <script th:src="|${vendor}/slimscroll/jquery.slimscroll.js|"></script>
    <!-- main js -->
    <script th:src="|${libs}/js/main-js.js|"></script>
    <!-- chart chartist js -->
    <script th:src="|${vendor}/charts/chartist-bundle/chartist.min.js|"></script>
    <!-- sparkline js -->
    <script th:src="|${vendor}/charts/sparkline/jquery.sparkline.js|"></script>
    <!-- morris js -->
    <script th:src="|${vendor}/charts/morris-bundle/raphael.min.js|"></script>
    <script th:src="|${vendor}/charts/morris-bundle/morris.js|"></script>
    <!-- chart c3 js -->
    <script th:src="|${vendor}/charts/c3charts/c3.min.js|"></script>
    <script th:src="|${vendor}/charts/c3charts/d3-5.4.0.min.js|"></script>
    <script th:src="|${vendor}/charts/c3charts/C3chartjs.js|"></script>
    <script th:src="|${libs}/js/dashboard-ecommerce.js|"></script>
</body>
 
</html>